<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}RÉSEAU IIA{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>
<body>

    <navbar>
        <div class="logo-section">
            <span>RÉSEAU IIA</span>
            <img src="{{ asset('imgs/logoaccueil.png') }}" alt="photo" class="photo-logo"> 
        </div>

        <div class="date-section">
            {% set jours = ['dimanche', 'lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi', 'samedi'] %}
            {% set mois = ['janvier', 'février', 'mars', 'avril', 'mai', 'juin', 'juillet', 'août', 'septembre', 'octobre', 'novembre', 'décembre'] %}
            {{ jours[date().format('w')]|capitalize }} {{ date().format('d') }} {{ mois[date().format('n') - 1]|capitalize }} {{ date().format('Y') }}
        </div>

        <div class="nav-buttons">
            {% if app.session.get('idUtilisateur') %}
                <a href="{{ path('profil_utilisateur') }}" class="cta">
                    <button class="btnnav"><i class="bx bxs-user-circle" id="iconUser"></i> Mon compte {{ app.session.get('nomUti') }}</button>
                </a>
                <a href="{{ path('deconnexion') }}" class="cta">
                    <button class="btnnav">Déconnexion</button>
                </a>
            {% else %}
                <a href="{{ path('inscription') }}" class="cta"><button class="btnnav">Inscription</button></a>
                <span class="separator">/</span>
                <a href="{{ path('se_connecter') }}" class="cta"><button class="btnnav">Connexion à mon compte</button></a>
            {% endif %}
        </div>
    </navbar>

    <main>
        {% block body %}
        <!-- Contenu principal de la page -->
        {% endblock %}
    </main>

</body>
</html>
